//For now, just SERVER_URL and GUTHUB_URL in use. In future..
ENV = {
  "SERVER_URL": "http://localhost/Isracard.GithubService.Api",
  "IP_URL": "__ipUrl__",
  "BARCODE_URL": "__barcodeUrl__",
  "LIGHT_URL": "__lightUrl__",
  "LOUPE_URL": "__loupeUrl__",
  "OC_URL": "__ocUrl__",
  "COOKIE_PATH": "/",
  "COOKIE_DOMAIN": "isracard.com",
  "COOKIE_NAME": "ACCESS_TOKEN",
  "SEARCH_LIMIT": 10000,
  "GITHUB_URL": "https://api.github.com"
};
